.name {
    font-size: 180px;
    background-color: blue;
    border: 3px solid red;
    display: flex;
    align-self: auto;
}

.beard-pic {
    
    border-radius: 50px;
    margin-left: 450px;
    padding: 10px;
    
}

.links {
    word-spacing: 5px;
    margin: 10px;
    font-size: 25px;
    
}

#link1 {
    background-color: lightblue;
    border: 3px solid black;
    padding: 6px;

}

#link2 {
    background-color: lightblue;
    border: 3px solid black;
    padding: 6px;


}

#link3 {
    background-color: lightblue;
    border: 3px solid black;
    padding: 6px;



}

#link4 {
    background-color: lightblue;
    border: 3px solid black;
    padding: 6px;


}
h1 {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    text-align: center;
    
}