.name {
    font-size: 50px;
    border: 3px solid #71ade6;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    background-image: url("https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bW91bnRhaW5zfGVufDB8fDB8fA%3D%3D&auto");
    background-size: cover;
    height: 96vh;
    background-position: center;
}

.beard-pic {    
    border-radius: 50px;
    padding: 10px;
    height: 150px;
    width: 150px;    
}

span {
    text-decoration: underline;
}

nav {
    width: 540px;
}

.logo {
    display: flex;    
}

.links {
    list-style: none; 
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-decoration: none;
}

.card {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    box-shadow: 10px 10px 5px #71ade6;
    margin: 20px;
    text-align: center;
    height: 250px;
    color:black;
    background-color: #c0d4eb;
  }

.port {
    display:flex;
    align-items: center;
  }

.images {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;       
  }

.pics {
      height:150px;
      width: 150px;
      border-radius: 25px;
  }

.pics:hover {
    height: 165px; 
    border: 5px solid white;
}

.pics:active {
    border: 5px solid black;
}

#portfolio {
    display: flex;
    align-items: center;
    display: block;
}

.photo {
    height: 175px;
    width: 175px;
    border-radius: 25px;
    margin: -24px;    
}

.photo:hover {
    height: 195px;
    border: 5px solid white;
}

.photo:active {
    border: 5px solid black;
}